*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--main-color: #2c3e50;
    --primary-color: #4e54c8;
    --secondary-color: #8f94fb;
   --text-color: #ecf0f1;
   --accent-color: #ffffff;
   --line2-color:    #8e44ad;
   --black: #000;
}

body{
    font-family: 'Arial', sans-serif;
 
  background-color: var(--accent-color);
    color: var(--text-color);
}



.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 50px;  
  height: auto;
  margin-right: 3px;

  
}

.logo-name {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1;
  margin-top: 15px;
  
}

.logo-name .line1 {
  font-size: 17px;
}

.logo-name .line2 {
  font-size: 18px;
  color:  var(--line2-color);  

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--accent-color);
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 20px;
}
.navlinks  a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--primary-color);
}

.hamburger{
  display: none;
  cursor: pointer;
  flex-direction: column;
  
  
}
.hamburger span{
  width: 25px;
  
  height: 3px;
  background: var(--black);
  transition: 0.3s;
  margin: 3px;
  
}
@media (max-width: 768px){
  .hamburger{
    display: flex;
    
  }
  .navlinks{
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    
  }
  .navlinks.active{
    display: flex;
  }

}

 
  .hero {
   background: linear-gradient(to right,var(--secondary-color), var(--primary-color),  var(--secondary-color));
     color: var(--text-color);
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .hero h3 {
    font-weight: normal;
    margin-bottom: 30px;
  }
  
  .hero .btn {
    padding: 12px 25px;
    background-image: linear-gradient(to bottom, var(--accent-color), var(--secondary-color));
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .hero .btn:hover {
    cursor: pointer;
    background-color: var(--text-color);
  }
  


.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}


.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  position: relative;
display: inline-block;
  margin: 2rem auto;
  text-shadow: 0 0 3px var(--main-color);


}

.section-title span {
  color: var(--line2-color); 
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 4px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  border-radius: 2px;
}




.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10rem;
    
}
.project-card{
  margin: 40px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px  var(--main-color);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color:  var(--accent-color);
  color: var(--main-color);
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px var(--main-color);
}

.project-img img {
  width: 100%;
  border-radius: 8px;

}


.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  color: var(--primary-color);
  margin-bottom: 1.2rem;
  margin-left: 0.4em;
  font-size: 1.2em;
}

.project-info p {
  color: var(--main-color); 
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 0.4em;
  margin-bottom: 1.8rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  }

.project-links a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  box-shadow: 0px 3px 0px var(--primary-color);
  padding: 10px 10px 10px 5px;
  border-radius: 30px;
}

.footer {
  background: var(--accent-color);
  color: var(--main-color);
  text-align: center;
  padding: 50px 20px;
box-shadow: 0px 4px 6px var(--main-color);
  position: relative;
  bottom: 0;
  width: 100%;
  
}
.footer-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-logo img {
  width: 50px;  
  height: auto;
  margin-right: 3px;

  
}


.footer-content p {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: var(--primary-color);
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--main-color); 
}
